<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
     <link rel="stylesheet"  type="text/css" href="/stylesheets/style.css">
</head>

<body>
    {{{ body }}}
</body>

    <script>
        if ("serviceWorker" in navigator) {
    
            navigator.serviceWorker.register("/sw.js").then(function(registration){
        
                    console.log("Service Worker registered with scope:", registration.scope );
        
            }).catch(function(err) {
        
                    console.log("Service worker registration failed:", err);
        
            });
    
        }
    </script>

</html>